/*---Defaults ---*/
:root {
  /* Font Family */
  font-family: "JetBrains Mono", "Gill Sans", sans-serif;

  /* Base Colours (Shoutout Coolors) */
  /* https://chir.ag/projects/name-that-color/#4F5146 - RGB to colour name*/

  --cream: hsl(29, 62%, 86%);
  --rose-quartz: hsl(278, 9%, 64%);
  --ultra-violet: hsl(237, 24%, 36%);
  --oxford-blue: hsl(230, 40%, 14%);
  --rich-black: hsl(244, 41%, 8%);

  --citrine-white: hsl(39, 74%, 89%);
  --brandy: hsl(35, 51%, 76%);
  --bandicoot: hsl(52, 7%, 45%);
  --fuscous-gray: hsl(71, 7%, 30%);
  --armadillo: hsl(42, 12%, 21%);

  --hero-height: 90vh;
}

/* Light Mode */
:root {
  --text-color: var(--rich-black);
  --background-color: var(--cream);
}

/* Dark mode colour preferences*/
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--citrine-white);
    --background-color: var(--armadillo);
  }
}

/*--- Elements ---*/
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  font-family: "Jetbrains Mono", sans-serif;
  font-size: large;
  font-weight: 700;
  color: var(--armadillo);
  background-color: var(--brandy);
  border-radius: 12px;
  transition: background-color 250ms ease;
  padding: 1rem;
}

button:hover {
  background-color: var(--citrine-white);
}

:modal {
  background-color: beige;
  border: 2px solid burlywood;
  border-radius: 5px;
}

/*--- Classes ---*/
.text-center {
  text-align: center;
}

.container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0 auto;
}
.container > div {
  border: 2px solid rgb(233 171 88);
  border-radius: 5px;
  background-color: rgb(233 171 88 / 50%);
  padding: 1em;
  color: var(--text-color);
}

.container {
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.container-card {
  background-color: var(--fuscous-gray);
  margin: 1.5rem;
  border-radius: 16px; /* rounded corners!!!*/
  transition: background-color 250ms ease;
}

.container-card:hover {
  background-color: var(--bandicoot);
}

.flex-box {
  display: flex;
  justify-content: space-around;
}

.flex-box > * {
  border-radius: 5px;
  padding: 1em;
}

.hidden {
  display: none;
}

/*--- IDs ---*/
#hero {
  height: 60vh;
  background-repeat: no-repeat;
}

#container-hero {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "hero-text hero-image";
  align-items: center;
}

#hero-text {
  grid-area: hero-text;
  margin-left: 5%;
  text-align: left;
}

#hero-image {
  grid-area: hero-image;
  background-image: url("media/images/hero-image");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
}
